@import './vars.scss';

.input {
  border: none;
  background: #f9fbfc;
  height: 30px;
  padding: 0 10px;
  outline: none;
}

.link {
  color: #000;
}
.btn {
  height: 36px;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 0 15px;
  outline: none;
  cursor: pointer;
}

.link-btn {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #edf3f6;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

