.auth {
  background: #fff;
  width: 500px;
  height: 200px;
  box-shadow: 0 0 18px 0 rgba(78,156,208,.63);
  border-radius: 4px;
  margin: 100px auto 0;
  .title {
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
  }
}
